#subject-navbar{
	position:relative;
}

#subject-navbar-text{
	position: absolute;
	bottom: 0;
	color: green;
	width: 200px;
}

#subject-level-title{
	background: #1C3F77;
	color: white;
	border: 10px solid #1C3F77;
}

#subject-navbar{
	height: 50px;
	float: left;
}

#subject-heade{
	/*float: right;*/
	font-size: 68px;
	text-align: right;
}

#subject-level-title{
	width: 200px;
}

.course-name{
	float: left;
	font-size: 18px;
	font-weight:bold;
}
.course-brief{
	margin-left: 100px;
	font-style: italic;
}

.course-teacher-name{
	clear: both;
	font-size: 12px;
	margin: 3px 0px;
}

.course-uploadtime{
	float: left;
	font-size: 12px;
	margin: 3px 0px;
}
.course-isupdate{
	font-size: 12px;
	color: red;
	margin-left: 100px;
	margin: 3px 0px;
}

.course-topic{
	clear: both;
}

.course-topic, .course-goal, .course-reco-bg, .course-nextstep{
	font-size: 14px;
	margin: 5px 0px;
}

.course-bold{
	font-weight:bold;
}

.course-les-blocks{
	height: 120px;
}
.course-les-block{
	float: left;
	margin: 5px;
}

