#subject-navbar{
	position:relative;
}

#subject-navbar-text{
	position: absolute;
	bottom: 0;
	color: green;
	width: 200px;
}

#subject-level-title{
	background: #1C3F77;
	color: white;
	border: 10px solid #1C3F77;
}

#subject-navbar{
	height: 50px;
	float: left;
}

#subject-heade{
	/*float: right;*/
	font-size: 68px;
	text-align: right;
}

#subject-level-title{
	width: 200px;
}


