/* content */
/** block list */
.nt-block-list-item-note{
	margin-top: 18px;
	
	font-family: "Lucida Sans";
	font-weight: normal;
	font-size: 14px;
	color: black;
}
.nt-block-list-item-courselessonname{
	
	font-family: "Lucida Sans";
	font-weight: 600;
	font-size: 22px;
	color: black;
}
.nt-block-list-item{
	width: 100%;
	margin-top: 18px;
	clear: both;
}
.nt-block-list{
	width: 100%;
	margin-left: 20px;
	margin-top: 18px;
	clear: both;
}

/** block title */
.nt-block-title-img{
	padding: 3px 0;
}
.nt-block-title-text{
	margin: 6px 20px;
	float: left;
	font-family: "Lucida Sans";
	font-weight: 600;
	font-size: 20px;
	color: white;
}
.nt-block-title{
	width: 285px;
	height: 32px;
}
.nt-block-title-bgin{
	background-color: #b9dc2f;
}
.nt-block-title-intr{
	background-color: #7FBD25;
}
.nt-block-title-advc{
	background-color: #2D613D;
}
.nt-block{
	margin-top: 47px;
	width: 100%;
}
.nt-list{
	margin-top: -29px;
	width: 814px;
	/*height: 800px;*/
	clear: both;
	float: left;
}

/* head */
/** title*/
.nt-main-title-block-function-item{
	float: left;
	margin: 6px;
}
.nt-main-title-block-function{
	position: absolute;
	top: 74px;
	right: 0;
	/*bottom: 5px;*/
}
.nt-main-title-block-text{
	font-family: "Lucida Sans";
	font-size: 66px;
	color: #333333;
	position: absolute;
	right: 0;
	/*bottom: 5px;*/
}
#nt-main-title-block{
	margin-top: 3px;
	width: 500px;
	float: right;
	position: relative;	
}

/** navi */
.nt-navi-style-link{
	text-decoration: none;
	color: #969696;
}
.nt-navi-style-nonselect{
	font-family: "Lucida Sans";
	font-weight: normal;
	font-size: 14px;
	color: #969696;
}
.nt-navi-style-select{
	font-family: "Lucida Sans";
	font-weight: normal;
	font-size: 14px;
	color: #5A483B;
	
	float: left;
}
#nt-navi-block{
	position: relative;
	z-index: 100;
	margin-top: 3px;
	width: 500px;
	float: left;	
}