@CHARSET "UTF-8";
/* PAGE */
.headline-text{
	font-size: 30px;
	font-weight: bold;
	/*margin: 5px;*/
}

.title-text{
	font-size: 80px;
	position: absolute;
	right: 0;
}

#home-wrapper{
	width: 100%;
	margin: 20px;
	height: 800px;
}

#subscriber_email{
	width: 200px;
}

#sub-news{
	padding: 10px;
}

/* CONTENT */
#home-adv{
	width: 100%;
	margin-top: 3px;
}

/* HEADER */
#lpm-menu-wrapper{
	width: 60%;
	height: 100%;
	float: right;
	position:relative;
}
#header-about{
	/*border:1px dotted;*/
	width: 20%;
	height: 100%;
	float: left;
}
#header-img{
	border:1px dotted;
	width: 10%;
	height: 100%;
	float: left;
}

/* ARCHITEC */
#main-adv{
	border:1px dotted;
	width: 100%;
	background-color:#F5F5F5;
}

#main-content{
	border:1px dotted;
	width: 100%;
	background-color:#F5F5F5;
}
#main-bar{
	/*border:1px dotted;*/
	width: 100%;
	height: 10px;
	background-color:#E6E6E6;
}
#main-header{
	/*border:1px dotted;*/
	width: 100%;
	height: 100px;
}

/* BASE */
.header-display-section{
	border:1px dotted;
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

.display-section{
	/*border:1px dotted;*/
	width: 1000px;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	position: relative;
}
.main-wrapper{
	margin-left:auto;
	margin-right:auto;
	border:1px dotted;
	width: 1366px;
}
body{
	width: 100%;
	margin: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

