/* acnt menu */
.acnt-menu-item-text{
	display: block;
	margin: 14px 28px;	
}

.acnt-sayhello{
	font-family: "Lucida Grande";
	font-weight: normal;
	font-size: 8px;
	color: black;
}

.acnt-menu-item{
	width: 168px;
	height: 38px;
	border: 1px solid gray;
	background-color: white;
}

ul.nav li:hover ul#acnt-menu-list,
ul.nav li.sfHover ul#acnt-menu-list{
	margin-left: -30px;
}

/* lrng menu */
ul.nav li:hover ul#lrng-menu-list,
ul.nav li.sfHover ul#lrng-menu-list{
	margin-left: -40px;
}

.lrng-menu-item-text{
	display: block;
	margin: 12px 25px;
	font-family: "Lucida Grande";
	font-weight: normal;
	font-size: 13px;
	
}

.lrng-menu-item{
	width: 143px;
	height: 38px;
	border: 1px solid gray;
	background-color: white;
	color: black;
}

/* cors menu */
.cors-menu-item-text{
	/*width: 248px;
	height: 50px;*/
	font-family: Arial;
	font-weight: bold;
	font-size: 26px;
	color: #000000;
	margin: 34px 34px;
}

.cors-menu-item{
	width: 248px;
	height: 98px;	
	border: 1px solid gray;
	background-color: white;
}

.cors-menu-item-start-text{
	margin: 15px 30px;
}
.cors-menu-item-start{
	width: 248px;
	height: 50px;
	font-family: "Lucida Grande";
	font-weight: bold;
	font-size: 18px;
	color: #73C8DA;
	border: 1px solid gray;
	background-color: white;
}

ul.nav li:hover ul#cors-menu-list,
ul.nav li.sfHover ul#cors-menu-list{
	margin-left: -190px;
}

/* noti menu */
.noti-menu-item-cnt-date{
	font-family: "Lucida Sans", "Demibold Roman";
	font-weight: normal;
	font-size: 12px;
	color: #727171;
}

.noti-menu-item-cnt-text{
	font-family: "Lucida Grande";
	font-weight: normal;
	font-size: 13px;
	color: black;
	height: 40px;
}

.noti-menu-item-cnt-name{
	font-family: "Lucida Grande";
	font-weight: bold;
	font-size: 13px;
	color: black;
}

.noti-menu-item-cnt{
	margin: 16px 8px;
	width: 299px;	
}

.noti-menu-item-img{
	width: 62px;
	height: 62px;
	padding: 16px 8px;
	float: left;
}
.noti-menu-item{
	width: 383px; /* 385 - 2 border*/
	height: 92px; /* 94 - 2 border */
	/*padding: 16px 8px;*/
	background-color: white;
	border: 1px solid gray;
}

ul.nav li:hover ul#noti-menu-list,
ul.nav li.sfHover ul#noti-menu-list{
	margin-left: -290px;
}

.menu-title:hover{
	background-color: #5C5C3D;
	color: white;
}

.menu-title{
	display: block;
	height: 28px;
}
/***/
ul.nav{ /* ID 是 nav 的清單 */
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "Lucida Sans Unicode", "Demibold Roman", sans-serif;
}

/* 名叫 nav 的 ul 下的 li */
ul.nav > li{ /* 標題區塊，一層 */
	float: left;
	/*width: 130px;*/
	/*margin-right: 20px;*/
	position: relative; /* ? */
}

/* 名叫 nav 的 ul 下的所有 li 底下的所有的 a 狀態為 link 或 visited 時 */
ul.nav li a:link, /* 標題文字 一般 & 已參訪 */
ul.nav li a:visited{
	display: block;
	text-decoration: none;
	color: rgb(122, 106, 83);
}

/* 名叫 nav 的 ul 下的所有 li 狀態為 hover 時，底下的 ul */
/* 名叫 nav 的 ul 下的所有類別為 sfHover 的 li 底下所有的 ul */
ul.nav li:hover ul, ul.nav li.sfHover ul{
	margin-left: -50px;
}

/* 標題文字滑鼠移過 */
ul.nav li a:hover{ 
	color: rgb(153, 178, 183);
}

/* 子選單 */
ul.nav ul{
	position: absolute; /* ? */
	background-color: rgb(213, 222, 217);
	/*border: 5px solid rgb(153, 178, 183);*/ /* 邊界 */
	/*border-radius: 10px;*/
	/*padding: 0.5em;*/
	margin: 0 0 0 -9999px; /* top right bottom left*/
	list-style: none; /* 選項區塊，取消風格 */
	/*font-size: 85.7%;*/
	/*width: 8em;*/
	/*line-height: 1.8;*/ /* ? */
}

/* 子選單選項文字 */
ul.nav ul li a:link,
ul.nav ul li a:visited{
	color: rgb(0, 0, 0);
}

ul.nav ul li a:hover{
	color: rgb(122, 106, 83);
}

#lpm-menu{
	height: 18px;
	/*width: 300px;*/
	position: absolute; bottom: 0; right: 0; /* menu 置底 */
}

#lpm-menu-wrapper{
	width: 600px;	
	height: 82px;
	float: right;
	position: relative; /* menu 置底 */
	z-index: 100; /* menu on top */
}

/* header, about */
.header-about-title{
	font-size: 28px;
	font-family: "Gill Sans", Regular, sans-serif;
	margin: 30px 0px 0px 10px;
}

#header-about-menu{
	font-size: 12px;	
	margin: 2px 0px 0px 10px;
}

#header-about{
	width: 318px;
	height: 82px;
	float: left;	
}

/* header, image */
.img-center{
	margin-top: 2px;
	margin-left: 1px;
	/* border: 1px dotted red; */	
}

#header-img{
	heigth: 82px;
	width: 82px;	
	float: left;
}

/* 主要架構 */
#main-content{
	width: 100%;
	height: 910px;
	background-color: #F0F0F0;
}

#main-bar{	
	width: 100%;
	height: 14px;
	background-color: #EAEAEA;
}

#main-header{
	width: 100%;
	height:  82px;
	background-color: #FFFFFF;
}

/* 內容顯示範圍 */
.display-section{
	margin: 0px auto;
	width: 1000px;	
}

/* 限制最大寬度 */
.main-wrapper{
	margin: 10px auto 0px auto;
	width: 1280px;
}

body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background: #ffffff;
}