.menu-child{
	display: none;
	
	width: 100%;
	height: 80px;

	position: relative;
}

.menu-parent{
	width: 100%;
	height: 100%;
	position:relative;
}


.menu-item:hover > .menu-child{
	display: block;
}

.menu-child:hover{
	background: #faa;
}

.menu-item:hover > .menu-parent{
	display: block;
	background: #333;
	color: #fff
}

.menu-item{
	width: 200px;
	height: 100%;
	float: left;
}

#lpm-menu{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-size: 12pt;
	width: 888px;
	height: 35px;
}

#lpm-test{
	width: 888px;
	height: 128px;
	background: #Aff;
}

.menu-parent-text{
	position:absolute;
	max-height: 58px;
    bottom: 0;
    right: 10px;
}

.menu-child-text{
	position:absolute;
    top: 3px;
    left: 3px;
}

